@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@500;600&display=swap');

:root {
    --primary-bg: rgb(1, 1, 29);
    --primary-text: #fff;
    --gradient1: #fff;
    --gradient2: rgb(134, 4, 255);
    --secondary-bg: rgb(134, 4, 255);
    /* --gradient1: rgb(255, 4, 0); */
    /* --gradient2: rgb(252, 221, 50); */
    /* --secondary-bg: rgb(255, 106, 0); */
}

/* https://youtu.be/dldpud1PuL8 */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-text);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath2613%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(1%2c 1%2c 29%2c 1)'%3e%3c/rect%3e%3ccircle r='40.635' cx='660.22' cy='500.35' fill='url(%23SvgjsLinearGradient2614)'%3e%3c/circle%3e%3ccircle r='38.58' cx='1294.33' cy='99.44' fill='url(%23SvgjsLinearGradient2615)'%3e%3c/circle%3e%3ccircle r='19.475' cx='1056.99' cy='432.35' fill='url(%23SvgjsLinearGradient2616)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath2613'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='578.95' y1='500.35' x2='741.49' y2='500.35' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2614'%3e%3cstop stop-color='rgba(43%2c 190%2c 63%2c 1)' offset='0.15'%3e%3c/stop%3e%3cstop stop-color='rgba(250%2c 250%2c 250%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1217.1699999999998' y1='99.44' x2='1371.4899999999998' y2='99.44' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2615'%3e%3cstop stop-color='rgba(255%2c 83%2c 0%2c 1)' offset='0.15'%3e%3c/stop%3e%3cstop stop-color='rgba(235%2c 255%2c 2%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1018.04' y1='432.35' x2='1095.94' y2='432.35' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2616'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1264%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(1%2c 1%2c 29%2c 1)'%3e%3c/rect%3e%3ccircle r='40.275' cx='368.65' cy='275.03' fill='url(%23SvgjsLinearGradient1265)'%3e%3c/circle%3e%3ccircle r='20.985' cx='1163.14' cy='509.07' fill='url(%23SvgjsLinearGradient1266)'%3e%3c/circle%3e%3ccircle r='24.045' cx='1421.2' cy='353.12' fill='url(%23SvgjsLinearGradient1267)'%3e%3c/circle%3e%3ccircle r='40.495' cx='1355.4' cy='213.07' fill='url(%23SvgjsLinearGradient1268)'%3e%3c/circle%3e%3ccircle r='45.82' cx='786.06' cy='109.7' fill='url(%23SvgjsLinearGradient1269)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1264'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='288.09999999999997' y1='275.03' x2='449.19999999999993' y2='275.03' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1265'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(254%2c 255%2c 4%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1121.17' y1='509.07000000000005' x2='1205.1100000000001' y2='509.07000000000005' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1266'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(254%2c 255%2c 4%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1373.1100000000001' y1='353.12' x2='1469.2900000000002' y2='353.12' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1267'%3e%3cstop stop-color='rgba(43%2c 190%2c 63%2c 1)' offset='0.15'%3e%3c/stop%3e%3cstop stop-color='rgba(250%2c 250%2c 250%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1274.41' y1='213.07' x2='1436.39' y2='213.07' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1268'%3e%3cstop stop-color='rgba(255%2c 83%2c 0%2c 1)' offset='0.15'%3e%3c/stop%3e%3cstop stop-color='rgba(235%2c 255%2c 2%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='694.42' y1='109.7' x2='877.6999999999999' y2='109.7' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1269'%3e%3cstop stop-color='rgba(43%2c 190%2c 63%2c 1)' offset='0.15'%3e%3c/stop%3e%3cstop stop-color='rgba(250%2c 250%2c 250%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");     */
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath11387%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(1%2c 1%2c 29%2c 1)'%3e%3c/rect%3e%3ccircle r='39.985' cx='1228.39' cy='219.82' fill='url(%23SvgjsLinearGradient11388)'%3e%3c/circle%3e%3ccircle r='47.84' cx='1389.94' cy='203.14' fill='url(%23SvgjsLinearGradient11389)'%3e%3c/circle%3e%3ccircle r='20.23' cx='796.49' cy='69.64' fill='url(%23SvgjsLinearGradient11390)'%3e%3c/circle%3e%3ccircle r='18.98' cx='709.15' cy='421.97' fill='url(%23SvgjsLinearGradient11391)'%3e%3c/circle%3e%3ccircle r='55.16' cx='51.07' cy='314.79' fill='url(%23SvgjsLinearGradient11392)'%3e%3c/circle%3e%3ccircle r='27.585' cx='502.37' cy='342.2' fill='url(%23SvgjsLinearGradient11393)'%3e%3c/circle%3e%3ccircle r='23.29' cx='253.09' cy='443.67' fill='url(%23SvgjsLinearGradient11394)'%3e%3c/circle%3e%3ccircle r='55.22' cx='1247.23' cy='380.24' fill='url(%23SvgjsLinearGradient11395)'%3e%3c/circle%3e%3ccircle r='31.765' cx='1290' cy='367.97' fill='url(%23SvgjsLinearGradient11396)'%3e%3c/circle%3e%3ccircle r='43.225' cx='277.77' cy='64.96' fill='url(%23SvgjsLinearGradient11397)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath11387'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='1148.42' y1='219.82' x2='1308.3600000000001' y2='219.82' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11388'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 199%2c 0%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1294.26' y1='203.14' x2='1485.62' y2='203.14' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11389'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 199%2c 0%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='756.03' y1='69.64' x2='836.9499999999999' y2='69.64' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11390'%3e%3cstop stop-color='rgba(43%2c 190%2c 63%2c 1)' offset='0.15'%3e%3c/stop%3e%3cstop stop-color='rgba(250%2c 250%2c 250%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='671.1899999999999' y1='421.97' x2='747.1099999999999' y2='421.97' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11391'%3e%3cstop stop-color='rgba(217%2c 255%2c 0%2c 1)' offset='0.12'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-59.24999999999999' y1='314.79' x2='161.39' y2='314.79' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11392'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='447.2' y1='342.2' x2='557.54' y2='342.2' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11393'%3e%3cstop stop-color='rgba(43%2c 190%2c 63%2c 1)' offset='0.15'%3e%3c/stop%3e%3cstop stop-color='rgba(250%2c 250%2c 250%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='206.51' y1='443.67' x2='299.66999999999996' y2='443.67' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11394'%3e%3cstop stop-color='rgba(255%2c 83%2c 0%2c 1)' offset='0.15'%3e%3c/stop%3e%3cstop stop-color='rgba(235%2c 255%2c 2%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1136.79' y1='380.24' x2='1357.67' y2='380.24' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11395'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1226.47' y1='367.97' x2='1353.53' y2='367.97' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11396'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(254%2c 255%2c 4%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='191.32' y1='64.96' x2='364.22' y2='64.96' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient11397'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 199%2c 0%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath10118%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(1%2c 1%2c 29%2c 1)'%3e%3c/rect%3e%3ccircle r='25.14' cx='1217.58' cy='110.22' fill='url(%23SvgjsLinearGradient10119)'%3e%3c/circle%3e%3ccircle r='38.56' cx='513.99' cy='324.09' fill='url(%23SvgjsLinearGradient10120)'%3e%3c/circle%3e%3ccircle r='18.15' cx='379.39' cy='147.68' fill='url(%23SvgjsLinearGradient10121)'%3e%3c/circle%3e%3ccircle r='24.23' cx='545.26' cy='238.42' fill='url(%23SvgjsLinearGradient10122)'%3e%3c/circle%3e%3ccircle r='45.735' cx='379.58' cy='469.09' fill='url(%23SvgjsLinearGradient10123)'%3e%3c/circle%3e%3ccircle r='36.475' cx='991.78' cy='353.73' fill='url(%23SvgjsLinearGradient10124)'%3e%3c/circle%3e%3ccircle r='28.6' cx='1385.37' cy='197.4' fill='url(%23SvgjsLinearGradient10125)'%3e%3c/circle%3e%3ccircle r='34.01' cx='940.29' cy='128.47' fill='url(%23SvgjsLinearGradient10126)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath10118'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='1167.3' y1='110.22' x2='1267.86' y2='110.22' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient10119'%3e%3cstop stop-color='rgba(217%2c 255%2c 0%2c 1)' offset='0.12'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='436.87' y1='324.09' x2='591.11' y2='324.09' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient10120'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='343.09' y1='147.68' x2='415.68999999999994' y2='147.68' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient10121'%3e%3cstop stop-color='rgba(43%2c 190%2c 63%2c 1)' offset='0.15'%3e%3c/stop%3e%3cstop stop-color='rgba(250%2c 250%2c 250%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='496.8' y1='238.42' x2='593.72' y2='238.42' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient10122'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 199%2c 0%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='288.11' y1='469.09000000000003' x2='471.05' y2='469.09000000000003' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient10123'%3e%3cstop stop-color='rgba(43%2c 190%2c 63%2c 1)' offset='0.15'%3e%3c/stop%3e%3cstop stop-color='rgba(250%2c 250%2c 250%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='918.8299999999999' y1='353.73' x2='1064.73' y2='353.73' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient10124'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 199%2c 0%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1328.1699999999998' y1='197.39999999999998' x2='1442.57' y2='197.39999999999998' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient10125'%3e%3cstop stop-color='rgba(217%2c 255%2c 0%2c 1)' offset='0.12'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='872.27' y1='128.47' x2='1008.31' y2='128.47' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient10126'%3e%3cstop stop-color='rgba(217%2c 255%2c 0%2c 1)' offset='0.12'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1272%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(1%2c 1%2c 29%2c 1)'%3e%3c/rect%3e%3ccircle r='25.36' cx='1370.77' cy='123.32' fill='url(%23SvgjsLinearGradient1273)'%3e%3c/circle%3e%3ccircle r='14.925' cx='342.38' cy='377.31' fill='url(%23SvgjsLinearGradient1274)'%3e%3c/circle%3e%3ccircle r='20.875' cx='11.2' cy='470.15' fill='url(%23SvgjsLinearGradient1275)'%3e%3c/circle%3e%3ccircle r='24.565' cx='413.1' cy='228.9' fill='%23c627a3'%3e%3c/circle%3e%3ccircle r='36.27' cx='1068.93' cy='50.15' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='55.17' cx='591.44' cy='494.57' fill='url(%23SvgjsLinearGradient1276)'%3e%3c/circle%3e%3ccircle r='54.57' cx='1398.2' cy='474.91' fill='url(%23SvgjsLinearGradient1277)'%3e%3c/circle%3e%3ccircle r='28' cx='1435.96' cy='18.79' fill='url(%23SvgjsLinearGradient1278)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1272'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='1320.05' y1='123.32' x2='1421.49' y2='123.32' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1273'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='312.53' y1='377.31' x2='372.22999999999996' y2='377.31' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1274'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-30.55' y1='470.15' x2='52.95' y2='470.15' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1275'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='481.1' y1='494.57000000000005' x2='701.78' y2='494.57000000000005' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1276'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1289.06' y1='474.91' x2='1507.34' y2='474.91' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1277'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1379.96' y1='18.79' x2='1491.96' y2='18.79' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1278'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");    color: var(--primary-text); */
    padding: 1rem 2rem;
    text-align: center;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--primary-text);
}

h1.heading {
    text-align: center;
    font-size: 2.4rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    background: linear-gradient(to bottom, var(--gradient1), var(--gradient2));
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.eventHeading {
    color: var(--primary-text);
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    padding-top: 0;
}

.subHeading {
    color: var(--primary-text);
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.glass {
    background: rgba(93, 92, 92, 0.28);
    backdrop-filter: blur(4px);
    border-radius: 10px;
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 1rem; */
}
nav a{
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    text-decoration: overline;
    /* background: linear-gradient(to bottom, #fff, rgb(106, 0, 255)); */
    /* display: inline-block; */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
nav img{
    width: 150px;
}
.hero{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .text{
    font-size: 1.32rem;
}

.hero .text span{
    position: relative;
    display: block;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 7rem;
}
.text span .cap{
    width: 180px;
    position: absolute;
    top: -100px; right: -70px;
}
.text span .eoa{
    width: 200px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: agomotto 2s linear infinite;
}
.text span .alien{
    width: 250px;
    position: absolute;
    top: -50px; left: 0px;
    animation: ship 2s linear infinite;
}
@keyframes ship {
    0%{top: -50px}
    50%{top: -80px}
    100%{top: -50px}
}
.aboutWrap {
    display: flex;
    margin-bottom: 2rem;
}

.aboutWrap .left {
    flex: 50%;
    position: relative;
}

.left .circle {
    border: double 10px var(--primary-bg);
    border-radius: 50%;
    /* background-image: linear-gradient(var(--primary-bg), var(--primary-bg)), radial-gradient(circle at top left, gold, rgb(255, 4, 0)); */
    background-image: linear-gradient(var(--primary-bg), var(--primary-bg)), radial-gradient(circle at top left, var(--gradient1), var(--gradient2));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left .circle1 {
    position: absolute;
    top: 0;
    left: 10rem;
    width: 180px;
    height: 180px;
}

.left .circle2 {
    position: absolute;
    top: 6rem;
    left: 2rem;
    width: 150px;
    height: 150px;
}

.left .circle3 {
    position: absolute;
    top: 14rem;
    left: 8rem;
    width: 120px;
    height: 120px;
}

.aboutWrap .right {
    flex: 50%;
    padding: 0 1rem;
    text-align: left;
}

.circle1 span {
    font-size: 3.2rem;
    font-family: 'Oswald', sans-serif;
}

.circle2 span {
    font-size: 2.7rem;
    font-family: 'Oswald', sans-serif;
}

.circle3 span {
    font-size: 2.4rem;
    font-family: 'Oswald', sans-serif;
}

.primaryBtn {
    padding: .4rem .6rem;
    background: var(--secondary-bg);
    color: var(--primary-text);
    margin: 1.2rem .5rem;
    font-size: .8rem;
    display: inline-block;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
}

.secondaryBtn {
    padding: .4rem .6rem;
    border: 2px solid var(--secondary-bg);
    color: var(--primary-text);
    margin: 1.2rem 0;
    font-size: .8rem;
    display: inline-block;
    transition: .5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
}

.secondaryBtn:hover {
    background-color: var(--secondary-bg);
}

.eventWrap {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
}

.eventWrap .eventSideLine {
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background: rgba(93, 92, 92, 0.28);
}

.eventWrap .eventSideLine::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 30px;
    background: linear-gradient(var(--gradient1), var(--gradient2));
}

.individualEvents {
    display: flex;
    padding: 1rem;
    position: relative;
    margin-bottom: 4rem;
}

.individualEvents .eventDate {
    position: absolute;
    left: -94px;
    top: 25px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    /* box-shadow: 0 0 0 0 rgba(#ffdd1d, .5); */
    box-shadow: 0 0 0 0 rgba(#c59bff, .5);
    background: linear-gradient(45deg, var(--gradient1), var(--gradient2));
}

.eventPulse {
    animation: pulse 1.2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 8px 6px transparent,
            0 0 0 0 transparent,
            0 0 0 0 transparent;
    }

    10% {
        box-shadow: 0 0 8px 6px #c59bff,
            0 0 10px 10px transparent,
            0 0 10px 5px #c59bff;
    }

    80%,
    100% {
        box-shadow: 0 0 8px 6px transparent,
            0 0 0 30px transparent,
            0 0 0 30px transparent;
    }
}

.individualEvents .eventDate span {
    padding-top: .8rem;
    font-size: 2rem;
    display: block;
    line-height: 1.6rem;
    font-family: 'Oswald', sans-serif;
}

.individualEvents img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 10px;
}

.eventContent {
    text-align: left;
    margin-left: 1.5rem;
    font-size: .9rem;
}

.eventButtons {
    display: flex;
}

.sponserSlider {
    height: 4rem;
    position: relative;
    padding: 1.5rem;
    display: flex;
    overflow-x: hidden;
    margin-bottom: 4rem;
}

.sponserSliderWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    animation: sponserCarousel 16s linear infinite;
}

.sponserSliderWrapper .sponserLogo {
    height: 100%;
}

.sponserLogo img {
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    margin: 0 4rem;
}

.sponserLogo img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    cursor: pointer;
}

@keyframes sponserCarousel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.footer .newsLetter {
    display: flex;
    align-items: center;
}

.newsLetter .left {
    flex: 30%;
    text-align: center;
    padding: 1rem;
}

.newsLetter .left span {
    display: block;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
}

.newsLetter .right {
    padding: 1rem;
    flex: 70%;
}

.right .newsBox {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 2rem;
}

.newsBox input {
    padding: .8rem;
    outline: none;
    border: none;
    width: 90%;
    background: none;
    font-family: 'Montserrat', sans-serif;
}

.newsBox .send {
    background: linear-gradient(to right, var(--gradient1), var(--gradient2));
    padding: .5rem 2.5rem;
    margin-right: .2rem;
    border-radius: 2rem;
    cursor: pointer;
}

.footer .copyright {
    text-align: center;
    padding: .6rem;
    font-size: .9rem;
    background: rgba(93, 92, 92, 0.28);
    border-radius: 0 0 10px 10px;
}






.firefly {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0.4vw;
    height: 0.4vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;
}

.firefly::before,
.firefly::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
}

.firefly::before {
    background: black;
    opacity: 0.4;
    animation: drift ease alternate infinite;
}

.firefly::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
    animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
    animation-name: move1;
}

.firefly:nth-child(1)::before {
    animation-duration: 18s;
}

.firefly:nth-child(1)::after {
    animation-duration: 18s, 5011ms;
    animation-delay: 0ms, 6024ms;
}

@keyframes move1 {
    0% {
        transform: translateX(-46vw) translateY(36vh) scale(0.38);
    }

    5.55556% {
        transform: translateX(-38vw) translateY(-28vh) scale(0.73);
    }

    11.11111% {
        transform: translateX(-40vw) translateY(41vh) scale(0.95);
    }

    16.66667% {
        transform: translateX(-15vw) translateY(47vh) scale(0.47);
    }

    22.22222% {
        transform: translateX(47vw) translateY(-28vh) scale(0.35);
    }

    27.77778% {
        transform: translateX(48vw) translateY(-38vh) scale(0.56);
    }

    33.33333% {
        transform: translateX(-27vw) translateY(41vh) scale(0.37);
    }

    38.88889% {
        transform: translateX(41vw) translateY(22vh) scale(0.83);
    }

    44.44444% {
        transform: translateX(-46vw) translateY(-17vh) scale(0.79);
    }

    50% {
        transform: translateX(12vw) translateY(11vh) scale(0.49);
    }

    55.55556% {
        transform: translateX(21vw) translateY(1vh) scale(0.43);
    }

    61.11111% {
        transform: translateX(31vw) translateY(30vh) scale(0.44);
    }

    66.66667% {
        transform: translateX(-14vw) translateY(-13vh) scale(0.53);
    }

    72.22222% {
        transform: translateX(-48vw) translateY(23vh) scale(0.3);
    }

    77.77778% {
        transform: translateX(45vw) translateY(1vh) scale(0.37);
    }

    83.33333% {
        transform: translateX(-13vw) translateY(19vh) scale(0.27);
    }

    88.88889% {
        transform: translateX(48vw) translateY(-2vh) scale(0.36);
    }

    94.44444% {
        transform: translateX(4vw) translateY(-47vh) scale(0.49);
    }

    100% {
        transform: translateX(26vw) translateY(46vh) scale(0.86);
    }
}

.firefly:nth-child(2) {
    animation-name: move2;
}

.firefly:nth-child(2)::before {
    animation-duration: 16s;
}

.firefly:nth-child(2)::after {
    animation-duration: 16s, 9984ms;
    animation-delay: 0ms, 2866ms;
}

@keyframes move2 {
    0% {
        transform: translateX(-38vw) translateY(-18vh) scale(0.86);
    }

    4% {
        transform: translateX(48vw) translateY(-42vh) scale(0.68);
    }

    8% {
        transform: translateX(-39vw) translateY(20vh) scale(0.85);
    }

    12% {
        transform: translateX(-33vw) translateY(-26vh) scale(0.85);
    }

    16% {
        transform: translateX(-6vw) translateY(13vh) scale(0.34);
    }

    20% {
        transform: translateX(-40vw) translateY(-5vh) scale(0.81);
    }

    24% {
        transform: translateX(-9vw) translateY(-23vh) scale(0.56);
    }

    28% {
        transform: translateX(24vw) translateY(3vh) scale(0.42);
    }

    32% {
        transform: translateX(-39vw) translateY(-16vh) scale(0.67);
    }

    36% {
        transform: translateX(16vw) translateY(32vh) scale(0.78);
    }

    40% {
        transform: translateX(-28vw) translateY(-6vh) scale(0.95);
    }

    44% {
        transform: translateX(-12vw) translateY(-17vh) scale(0.54);
    }

    48% {
        transform: translateX(-23vw) translateY(-3vh) scale(0.77);
    }

    52% {
        transform: translateX(19vw) translateY(-39vh) scale(0.74);
    }

    56% {
        transform: translateX(1vw) translateY(1vh) scale(0.92);
    }

    60% {
        transform: translateX(-39vw) translateY(26vh) scale(0.66);
    }

    64% {
        transform: translateX(-15vw) translateY(-8vh) scale(0.5);
    }

    68% {
        transform: translateX(-9vw) translateY(24vh) scale(0.61);
    }

    72% {
        transform: translateX(-29vw) translateY(49vh) scale(0.58);
    }

    76% {
        transform: translateX(-24vw) translateY(16vh) scale(0.68);
    }

    80% {
        transform: translateX(-28vw) translateY(-9vh) scale(0.62);
    }

    84% {
        transform: translateX(-16vw) translateY(-48vh) scale(0.9);
    }

    88% {
        transform: translateX(38vw) translateY(5vh) scale(0.97);
    }

    92% {
        transform: translateX(16vw) translateY(35vh) scale(0.51);
    }

    96% {
        transform: translateX(-16vw) translateY(-47vh) scale(0.79);
    }

    100% {
        transform: translateX(4vw) translateY(8vh) scale(0.98);
    }
}

.firefly:nth-child(3) {
    animation-name: move3;
}

.firefly:nth-child(3)::before {
    animation-duration: 15s;
}

.firefly:nth-child(3)::after {
    animation-duration: 15s, 10536ms;
    animation-delay: 0ms, 1464ms;
}

@keyframes move3 {
    0% {
        transform: translateX(-39vw) translateY(-25vh) scale(0.71);
    }

    5.55556% {
        transform: translateX(1vw) translateY(-45vh) scale(0.82);
    }

    11.11111% {
        transform: translateX(17vw) translateY(42vh) scale(0.86);
    }

    16.66667% {
        transform: translateX(42vw) translateY(-32vh) scale(0.54);
    }

    22.22222% {
        transform: translateX(-46vw) translateY(-39vh) scale(0.6);
    }

    27.77778% {
        transform: translateX(-31vw) translateY(-4vh) scale(0.44);
    }

    33.33333% {
        transform: translateX(40vw) translateY(-13vh) scale(0.96);
    }

    38.88889% {
        transform: translateX(-22vw) translateY(-16vh) scale(0.67);
    }

    44.44444% {
        transform: translateX(-15vw) translateY(-45vh) scale(0.46);
    }

    50% {
        transform: translateX(-1vw) translateY(11vh) scale(0.92);
    }

    55.55556% {
        transform: translateX(33vw) translateY(-16vh) scale(0.79);
    }

    61.11111% {
        transform: translateX(29vw) translateY(46vh) scale(0.58);
    }

    66.66667% {
        transform: translateX(31vw) translateY(-6vh) scale(0.85);
    }

    72.22222% {
        transform: translateX(8vw) translateY(15vh) scale(0.63);
    }

    77.77778% {
        transform: translateX(25vw) translateY(19vh) scale(0.53);
    }

    83.33333% {
        transform: translateX(-20vw) translateY(-8vh) scale(0.37);
    }

    88.88889% {
        transform: translateX(14vw) translateY(7vh) scale(0.31);
    }

    94.44444% {
        transform: translateX(0vw) translateY(36vh) scale(0.68);
    }

    100% {
        transform: translateX(-5vw) translateY(29vh) scale(0.35);
    }
}

.firefly:nth-child(4) {
    animation-name: move4;
}

.firefly:nth-child(4)::before {
    animation-duration: 13s;
}

.firefly:nth-child(4)::after {
    animation-duration: 13s, 7894ms;
    animation-delay: 0ms, 3477ms;
}

@keyframes move4 {
    0% {
        transform: translateX(45vw) translateY(-1vh) scale(0.33);
    }

    5.88235% {
        transform: translateX(-24vw) translateY(2vh) scale(0.44);
    }

    11.76471% {
        transform: translateX(50vw) translateY(-11vh) scale(0.46);
    }

    17.64706% {
        transform: translateX(38vw) translateY(21vh) scale(0.28);
    }

    23.52941% {
        transform: translateX(-41vw) translateY(18vh) scale(0.72);
    }

    29.41176% {
        transform: translateX(22vw) translateY(-21vh) scale(0.85);
    }

    35.29412% {
        transform: translateX(47vw) translateY(33vh) scale(0.5);
    }

    41.17647% {
        transform: translateX(19vw) translateY(23vh) scale(0.72);
    }

    47.05882% {
        transform: translateX(-13vw) translateY(-43vh) scale(0.57);
    }

    52.94118% {
        transform: translateX(27vw) translateY(43vh) scale(0.26);
    }

    58.82353% {
        transform: translateX(-22vw) translateY(14vh) scale(0.3);
    }

    64.70588% {
        transform: translateX(21vw) translateY(7vh) scale(0.54);
    }

    70.58824% {
        transform: translateX(8vw) translateY(33vh) scale(0.34);
    }

    76.47059% {
        transform: translateX(2vw) translateY(-16vh) scale(0.9);
    }

    82.35294% {
        transform: translateX(27vw) translateY(-4vh) scale(0.66);
    }

    88.23529% {
        transform: translateX(-32vw) translateY(-22vh) scale(0.97);
    }

    94.11765% {
        transform: translateX(-9vw) translateY(17vh) scale(0.35);
    }

    100% {
        transform: translateX(-43vw) translateY(-25vh) scale(0.44);
    }
}

.firefly:nth-child(5) {
    animation-name: move5;
}

.firefly:nth-child(5)::before {
    animation-duration: 15s;
}

.firefly:nth-child(5)::after {
    animation-duration: 15s, 8474ms;
    animation-delay: 0ms, 2086ms;
}

@keyframes move5 {
    0% {
        transform: translateX(28vw) translateY(35vh) scale(0.6);
    }

    5% {
        transform: translateX(-16vw) translateY(28vh) scale(0.61);
    }

    10% {
        transform: translateX(-18vw) translateY(-41vh) scale(0.5);
    }

    15% {
        transform: translateX(38vw) translateY(-30vh) scale(0.84);
    }

    20% {
        transform: translateX(-10vw) translateY(6vh) scale(0.99);
    }

    25% {
        transform: translateX(4vw) translateY(46vh) scale(0.57);
    }

    30% {
        transform: translateX(-37vw) translateY(31vh) scale(0.46);
    }

    35% {
        transform: translateX(-11vw) translateY(26vh) scale(0.59);
    }

    40% {
        transform: translateX(-11vw) translateY(-41vh) scale(0.58);
    }

    45% {
        transform: translateX(-49vw) translateY(47vh) scale(0.65);
    }

    50% {
        transform: translateX(8vw) translateY(-29vh) scale(0.51);
    }

    55% {
        transform: translateX(10vw) translateY(22vh) scale(0.58);
    }

    60% {
        transform: translateX(-35vw) translateY(29vh) scale(0.72);
    }

    65% {
        transform: translateX(-21vw) translateY(29vh) scale(0.53);
    }

    70% {
        transform: translateX(-21vw) translateY(6vh) scale(0.3);
    }

    75% {
        transform: translateX(8vw) translateY(8vh) scale(0.58);
    }

    80% {
        transform: translateX(-2vw) translateY(8vh) scale(0.9);
    }

    85% {
        transform: translateX(-45vw) translateY(37vh) scale(0.79);
    }

    90% {
        transform: translateX(-43vw) translateY(12vh) scale(0.84);
    }

    95% {
        transform: translateX(36vw) translateY(-46vh) scale(0.68);
    }

    100% {
        transform: translateX(-28vw) translateY(46vh) scale(0.95);
    }
}

.firefly:nth-child(6) {
    animation-name: move6;
}

.firefly:nth-child(6)::before {
    animation-duration: 18s;
}

.firefly:nth-child(6)::after {
    animation-duration: 18s, 8950ms;
    animation-delay: 0ms, 2081ms;
}

@keyframes move6 {
    0% {
        transform: translateX(16vw) translateY(45vh) scale(0.61);
    }

    4.7619% {
        transform: translateX(23vw) translateY(-47vh) scale(0.3);
    }

    9.52381% {
        transform: translateX(10vw) translateY(18vh) scale(1);
    }

    14.28571% {
        transform: translateX(45vw) translateY(45vh) scale(0.49);
    }

    19.04762% {
        transform: translateX(49vw) translateY(14vh) scale(0.98);
    }

    23.80952% {
        transform: translateX(-1vw) translateY(38vh) scale(0.45);
    }

    28.57143% {
        transform: translateX(-19vw) translateY(-9vh) scale(0.33);
    }

    33.33333% {
        transform: translateX(4vw) translateY(-15vh) scale(0.79);
    }

    38.09524% {
        transform: translateX(13vw) translateY(18vh) scale(0.35);
    }

    42.85714% {
        transform: translateX(-6vw) translateY(-15vh) scale(0.69);
    }

    47.61905% {
        transform: translateX(-7vw) translateY(-27vh) scale(0.4);
    }

    52.38095% {
        transform: translateX(9vw) translateY(-11vh) scale(0.94);
    }

    57.14286% {
        transform: translateX(-10vw) translateY(22vh) scale(0.53);
    }

    61.90476% {
        transform: translateX(-4vw) translateY(-22vh) scale(0.4);
    }

    66.66667% {
        transform: translateX(-29vw) translateY(-49vh) scale(0.74);
    }

    71.42857% {
        transform: translateX(-39vw) translateY(17vh) scale(1);
    }

    76.19048% {
        transform: translateX(49vw) translateY(-44vh) scale(0.63);
    }

    80.95238% {
        transform: translateX(24vw) translateY(18vh) scale(0.43);
    }

    85.71429% {
        transform: translateX(-15vw) translateY(32vh) scale(0.77);
    }

    90.47619% {
        transform: translateX(-11vw) translateY(15vh) scale(0.94);
    }

    95.2381% {
        transform: translateX(19vw) translateY(-2vh) scale(0.73);
    }

    100% {
        transform: translateX(-20vw) translateY(8vh) scale(0.79);
    }
}

.firefly:nth-child(7) {
    animation-name: move7;
}

.firefly:nth-child(7)::before {
    animation-duration: 14s;
}

.firefly:nth-child(7)::after {
    animation-duration: 14s, 7727ms;
    animation-delay: 0ms, 3145ms;
}

@keyframes move7 {
    0% {
        transform: translateX(42vw) translateY(-40vh) scale(0.3);
    }

    4.34783% {
        transform: translateX(-42vw) translateY(-37vh) scale(0.7);
    }

    8.69565% {
        transform: translateX(44vw) translateY(-11vh) scale(0.59);
    }

    13.04348% {
        transform: translateX(34vw) translateY(-32vh) scale(0.26);
    }

    17.3913% {
        transform: translateX(43vw) translateY(26vh) scale(0.56);
    }

    21.73913% {
        transform: translateX(-4vw) translateY(-3vh) scale(0.72);
    }

    26.08696% {
        transform: translateX(-8vw) translateY(1vh) scale(0.5);
    }

    30.43478% {
        transform: translateX(-47vw) translateY(-21vh) scale(0.44);
    }

    34.78261% {
        transform: translateX(-35vw) translateY(49vh) scale(0.99);
    }

    39.13043% {
        transform: translateX(15vw) translateY(-25vh) scale(0.43);
    }

    43.47826% {
        transform: translateX(48vw) translateY(-38vh) scale(0.91);
    }

    47.82609% {
        transform: translateX(22vw) translateY(-40vh) scale(0.8);
    }

    52.17391% {
        transform: translateX(2vw) translateY(15vh) scale(0.35);
    }

    56.52174% {
        transform: translateX(-16vw) translateY(17vh) scale(0.52);
    }

    60.86957% {
        transform: translateX(-13vw) translateY(-36vh) scale(0.33);
    }

    65.21739% {
        transform: translateX(30vw) translateY(-2vh) scale(0.81);
    }

    69.56522% {
        transform: translateX(18vw) translateY(-40vh) scale(0.37);
    }

    73.91304% {
        transform: translateX(-43vw) translateY(-37vh) scale(0.66);
    }

    78.26087% {
        transform: translateX(-6vw) translateY(-33vh) scale(0.91);
    }

    82.6087% {
        transform: translateX(-33vw) translateY(31vh) scale(0.42);
    }

    86.95652% {
        transform: translateX(-10vw) translateY(42vh) scale(0.73);
    }

    91.30435% {
        transform: translateX(-46vw) translateY(-37vh) scale(0.86);
    }

    95.65217% {
        transform: translateX(-28vw) translateY(35vh) scale(0.73);
    }

    100% {
        transform: translateX(12vw) translateY(-19vh) scale(0.96);
    }
}

.firefly:nth-child(8) {
    animation-name: move8;
}

.firefly:nth-child(8)::before {
    animation-duration: 9s;
}

.firefly:nth-child(8)::after {
    animation-duration: 9s, 8781ms;
    animation-delay: 0ms, 799ms;
}

@keyframes move8 {
    0% {
        transform: translateX(-14vw) translateY(-17vh) scale(0.68);
    }

    4.54545% {
        transform: translateX(-24vw) translateY(14vh) scale(0.52);
    }

    9.09091% {
        transform: translateX(-28vw) translateY(44vh) scale(0.78);
    }

    13.63636% {
        transform: translateX(26vw) translateY(9vh) scale(0.64);
    }

    18.18182% {
        transform: translateX(-14vw) translateY(-43vh) scale(0.44);
    }

    22.72727% {
        transform: translateX(0vw) translateY(6vh) scale(0.26);
    }

    27.27273% {
        transform: translateX(27vw) translateY(16vh) scale(0.41);
    }

    31.81818% {
        transform: translateX(7vw) translateY(13vh) scale(0.28);
    }

    36.36364% {
        transform: translateX(41vw) translateY(23vh) scale(0.82);
    }

    40.90909% {
        transform: translateX(-32vw) translateY(41vh) scale(0.66);
    }

    45.45455% {
        transform: translateX(38vw) translateY(-18vh) scale(0.65);
    }

    50% {
        transform: translateX(-4vw) translateY(-7vh) scale(0.44);
    }

    54.54545% {
        transform: translateX(-16vw) translateY(-13vh) scale(0.78);
    }

    59.09091% {
        transform: translateX(-26vw) translateY(-46vh) scale(0.52);
    }

    63.63636% {
        transform: translateX(-47vw) translateY(23vh) scale(0.97);
    }

    68.18182% {
        transform: translateX(-30vw) translateY(40vh) scale(0.63);
    }

    72.72727% {
        transform: translateX(19vw) translateY(27vh) scale(0.83);
    }

    77.27273% {
        transform: translateX(4vw) translateY(44vh) scale(0.71);
    }

    81.81818% {
        transform: translateX(-13vw) translateY(18vh) scale(0.46);
    }

    86.36364% {
        transform: translateX(-8vw) translateY(11vh) scale(0.37);
    }

    90.90909% {
        transform: translateX(-38vw) translateY(25vh) scale(0.73);
    }

    95.45455% {
        transform: translateX(37vw) translateY(-25vh) scale(0.29);
    }

    100% {
        transform: translateX(-3vw) translateY(11vh) scale(0.47);
    }
}

.firefly:nth-child(9) {
    animation-name: move9;
}

.firefly:nth-child(9)::before {
    animation-duration: 15s;
}

.firefly:nth-child(9)::after {
    animation-duration: 15s, 10993ms;
    animation-delay: 0ms, 2401ms;
}

@keyframes move9 {
    0% {
        transform: translateX(-33vw) translateY(-46vh) scale(0.99);
    }

    3.57143% {
        transform: translateX(-9vw) translateY(-3vh) scale(0.8);
    }

    7.14286% {
        transform: translateX(4vw) translateY(-49vh) scale(0.29);
    }

    10.71429% {
        transform: translateX(-23vw) translateY(18vh) scale(0.46);
    }

    14.28571% {
        transform: translateX(6vw) translateY(39vh) scale(0.66);
    }

    17.85714% {
        transform: translateX(-30vw) translateY(-28vh) scale(0.8);
    }

    21.42857% {
        transform: translateX(14vw) translateY(46vh) scale(0.81);
    }

    25% {
        transform: translateX(-6vw) translateY(30vh) scale(0.57);
    }

    28.57143% {
        transform: translateX(34vw) translateY(23vh) scale(0.45);
    }

    32.14286% {
        transform: translateX(4vw) translateY(8vh) scale(0.38);
    }

    35.71429% {
        transform: translateX(-12vw) translateY(-48vh) scale(0.6);
    }

    39.28571% {
        transform: translateX(13vw) translateY(-13vh) scale(0.56);
    }

    42.85714% {
        transform: translateX(46vw) translateY(12vh) scale(0.59);
    }

    46.42857% {
        transform: translateX(-19vw) translateY(-31vh) scale(0.91);
    }

    50% {
        transform: translateX(26vw) translateY(-18vh) scale(0.74);
    }

    53.57143% {
        transform: translateX(26vw) translateY(-16vh) scale(0.7);
    }

    57.14286% {
        transform: translateX(47vw) translateY(9vh) scale(0.38);
    }

    60.71429% {
        transform: translateX(48vw) translateY(-2vh) scale(0.91);
    }

    64.28571% {
        transform: translateX(21vw) translateY(41vh) scale(0.47);
    }

    67.85714% {
        transform: translateX(48vw) translateY(-2vh) scale(0.29);
    }

    71.42857% {
        transform: translateX(11vw) translateY(-24vh) scale(0.95);
    }

    75% {
        transform: translateX(-45vw) translateY(-48vh) scale(0.76);
    }

    78.57143% {
        transform: translateX(29vw) translateY(-30vh) scale(0.76);
    }

    82.14286% {
        transform: translateX(-14vw) translateY(13vh) scale(0.84);
    }

    85.71429% {
        transform: translateX(33vw) translateY(-47vh) scale(0.93);
    }

    89.28571% {
        transform: translateX(38vw) translateY(5vh) scale(0.54);
    }

    92.85714% {
        transform: translateX(43vw) translateY(-15vh) scale(0.69);
    }

    96.42857% {
        transform: translateX(7vw) translateY(28vh) scale(0.28);
    }

    100% {
        transform: translateX(-47vw) translateY(-25vh) scale(0.92);
    }
}

.firefly:nth-child(10) {
    animation-name: move10;
}

.firefly:nth-child(10)::before {
    animation-duration: 12s;
}

.firefly:nth-child(10)::after {
    animation-duration: 12s, 5784ms;
    animation-delay: 0ms, 3287ms;
}

@keyframes move10 {
    0% {
        transform: translateX(-28vw) translateY(34vh) scale(0.45);
    }

    5% {
        transform: translateX(14vw) translateY(-14vh) scale(0.64);
    }

    10% {
        transform: translateX(44vw) translateY(-15vh) scale(0.71);
    }

    15% {
        transform: translateX(9vw) translateY(5vh) scale(0.5);
    }

    20% {
        transform: translateX(-16vw) translateY(10vh) scale(0.9);
    }

    25% {
        transform: translateX(-2vw) translateY(6vh) scale(0.51);
    }

    30% {
        transform: translateX(46vw) translateY(23vh) scale(0.77);
    }

    35% {
        transform: translateX(14vw) translateY(3vh) scale(0.26);
    }

    40% {
        transform: translateX(39vw) translateY(-6vh) scale(0.31);
    }

    45% {
        transform: translateX(-29vw) translateY(-31vh) scale(0.65);
    }

    50% {
        transform: translateX(-38vw) translateY(-41vh) scale(0.76);
    }

    55% {
        transform: translateX(-14vw) translateY(-1vh) scale(0.71);
    }

    60% {
        transform: translateX(11vw) translateY(-33vh) scale(0.82);
    }

    65% {
        transform: translateX(13vw) translateY(14vh) scale(0.79);
    }

    70% {
        transform: translateX(-41vw) translateY(-26vh) scale(0.45);
    }

    75% {
        transform: translateX(-23vw) translateY(8vh) scale(0.42);
    }

    80% {
        transform: translateX(31vw) translateY(-26vh) scale(0.6);
    }

    85% {
        transform: translateX(-17vw) translateY(25vh) scale(0.94);
    }

    90% {
        transform: translateX(10vw) translateY(40vh) scale(0.44);
    }

    95% {
        transform: translateX(2vw) translateY(-37vh) scale(0.92);
    }

    100% {
        transform: translateX(12vw) translateY(44vh) scale(0.55);
    }
}

.firefly:nth-child(11) {
    animation-name: move11;
}

.firefly:nth-child(11)::before {
    animation-duration: 16s;
}

.firefly:nth-child(11)::after {
    animation-duration: 16s, 8999ms;
    animation-delay: 0ms, 985ms;
}

@keyframes move11 {
    0% {
        transform: translateX(-6vw) translateY(24vh) scale(0.43);
    }

    4.34783% {
        transform: translateX(-45vw) translateY(-35vh) scale(0.65);
    }

    8.69565% {
        transform: translateX(-12vw) translateY(-43vh) scale(0.6);
    }

    13.04348% {
        transform: translateX(-26vw) translateY(28vh) scale(0.48);
    }

    17.3913% {
        transform: translateX(4vw) translateY(-45vh) scale(0.76);
    }

    21.73913% {
        transform: translateX(27vw) translateY(-5vh) scale(0.42);
    }

    26.08696% {
        transform: translateX(-47vw) translateY(37vh) scale(0.86);
    }

    30.43478% {
        transform: translateX(-41vw) translateY(50vh) scale(0.55);
    }

    34.78261% {
        transform: translateX(12vw) translateY(33vh) scale(0.78);
    }

    39.13043% {
        transform: translateX(5vw) translateY(-20vh) scale(0.51);
    }

    43.47826% {
        transform: translateX(-41vw) translateY(18vh) scale(0.38);
    }

    47.82609% {
        transform: translateX(0vw) translateY(-7vh) scale(0.74);
    }

    52.17391% {
        transform: translateX(-12vw) translateY(-49vh) scale(0.84);
    }

    56.52174% {
        transform: translateX(-40vw) translateY(23vh) scale(0.52);
    }

    60.86957% {
        transform: translateX(42vw) translateY(-4vh) scale(0.83);
    }

    65.21739% {
        transform: translateX(-48vw) translateY(-17vh) scale(0.35);
    }

    69.56522% {
        transform: translateX(30vw) translateY(-41vh) scale(0.4);
    }

    73.91304% {
        transform: translateX(-20vw) translateY(23vh) scale(0.87);
    }

    78.26087% {
        transform: translateX(-29vw) translateY(-1vh) scale(0.56);
    }

    82.6087% {
        transform: translateX(40vw) translateY(41vh) scale(0.94);
    }

    86.95652% {
        transform: translateX(41vw) translateY(45vh) scale(0.58);
    }

    91.30435% {
        transform: translateX(3vw) translateY(-26vh) scale(0.3);
    }

    95.65217% {
        transform: translateX(29vw) translateY(-11vh) scale(0.73);
    }

    100% {
        transform: translateX(46vw) translateY(25vh) scale(0.98);
    }
}

.firefly:nth-child(12) {
    animation-name: move12;
}

.firefly:nth-child(12)::before {
    animation-duration: 11s;
}

.firefly:nth-child(12)::after {
    animation-duration: 11s, 10619ms;
    animation-delay: 0ms, 4741ms;
}

@keyframes move12 {
    0% {
        transform: translateX(12vw) translateY(27vh) scale(0.65);
    }

    4% {
        transform: translateX(35vw) translateY(40vh) scale(0.8);
    }

    8% {
        transform: translateX(30vw) translateY(-10vh) scale(0.7);
    }

    12% {
        transform: translateX(-8vw) translateY(44vh) scale(0.82);
    }

    16% {
        transform: translateX(-36vw) translateY(-25vh) scale(0.53);
    }

    20% {
        transform: translateX(12vw) translateY(-43vh) scale(0.64);
    }

    24% {
        transform: translateX(5vw) translateY(-42vh) scale(0.58);
    }

    28% {
        transform: translateX(42vw) translateY(-29vh) scale(0.92);
    }

    32% {
        transform: translateX(46vw) translateY(3vh) scale(0.31);
    }

    36% {
        transform: translateX(45vw) translateY(-45vh) scale(0.41);
    }

    40% {
        transform: translateX(45vw) translateY(16vh) scale(0.49);
    }

    44% {
        transform: translateX(-49vw) translateY(25vh) scale(0.76);
    }

    48% {
        transform: translateX(13vw) translateY(26vh) scale(0.26);
    }

    52% {
        transform: translateX(-48vw) translateY(7vh) scale(0.92);
    }

    56% {
        transform: translateX(-26vw) translateY(6vh) scale(0.82);
    }

    60% {
        transform: translateX(45vw) translateY(33vh) scale(0.69);
    }

    64% {
        transform: translateX(9vw) translateY(-31vh) scale(0.7);
    }

    68% {
        transform: translateX(-1vw) translateY(-25vh) scale(0.96);
    }

    72% {
        transform: translateX(33vw) translateY(-24vh) scale(0.76);
    }

    76% {
        transform: translateX(-2vw) translateY(-37vh) scale(0.77);
    }

    80% {
        transform: translateX(14vw) translateY(-2vh) scale(0.83);
    }

    84% {
        transform: translateX(-7vw) translateY(-29vh) scale(0.51);
    }

    88% {
        transform: translateX(32vw) translateY(-36vh) scale(0.38);
    }

    92% {
        transform: translateX(42vw) translateY(-47vh) scale(0.89);
    }

    96% {
        transform: translateX(-43vw) translateY(-32vh) scale(0.76);
    }

    100% {
        transform: translateX(17vw) translateY(26vh) scale(0.64);
    }
}

.firefly:nth-child(13) {
    animation-name: move13;
}

.firefly:nth-child(13)::before {
    animation-duration: 11s;
}

.firefly:nth-child(13)::after {
    animation-duration: 11s, 10941ms;
    animation-delay: 0ms, 5946ms;
}

@keyframes move13 {
    0% {
        transform: translateX(11vw) translateY(40vh) scale(0.75);
    }

    4.34783% {
        transform: translateX(0vw) translateY(-40vh) scale(0.65);
    }

    8.69565% {
        transform: translateX(12vw) translateY(-2vh) scale(0.32);
    }

    13.04348% {
        transform: translateX(24vw) translateY(4vh) scale(0.53);
    }

    17.3913% {
        transform: translateX(39vw) translateY(11vh) scale(0.74);
    }

    21.73913% {
        transform: translateX(18vw) translateY(-36vh) scale(1);
    }

    26.08696% {
        transform: translateX(-25vw) translateY(-43vh) scale(0.68);
    }

    30.43478% {
        transform: translateX(-38vw) translateY(13vh) scale(0.74);
    }

    34.78261% {
        transform: translateX(0vw) translateY(-46vh) scale(0.94);
    }

    39.13043% {
        transform: translateX(4vw) translateY(26vh) scale(0.42);
    }

    43.47826% {
        transform: translateX(-18vw) translateY(42vh) scale(0.61);
    }

    47.82609% {
        transform: translateX(-13vw) translateY(41vh) scale(0.5);
    }

    52.17391% {
        transform: translateX(-26vw) translateY(18vh) scale(0.69);
    }

    56.52174% {
        transform: translateX(34vw) translateY(-48vh) scale(0.71);
    }

    60.86957% {
        transform: translateX(46vw) translateY(40vh) scale(0.58);
    }

    65.21739% {
        transform: translateX(32vw) translateY(-13vh) scale(0.56);
    }

    69.56522% {
        transform: translateX(27vw) translateY(-28vh) scale(0.39);
    }

    73.91304% {
        transform: translateX(-12vw) translateY(-32vh) scale(0.88);
    }

    78.26087% {
        transform: translateX(50vw) translateY(-35vh) scale(0.6);
    }

    82.6087% {
        transform: translateX(40vw) translateY(-19vh) scale(0.95);
    }

    86.95652% {
        transform: translateX(45vw) translateY(20vh) scale(0.46);
    }

    91.30435% {
        transform: translateX(46vw) translateY(9vh) scale(0.69);
    }

    95.65217% {
        transform: translateX(-19vw) translateY(-20vh) scale(0.79);
    }

    100% {
        transform: translateX(41vw) translateY(-2vh) scale(0.33);
    }
}

.firefly:nth-child(14) {
    animation-name: move14;
}

.firefly:nth-child(14)::before {
    animation-duration: 18s;
}

.firefly:nth-child(14)::after {
    animation-duration: 18s, 9335ms;
    animation-delay: 0ms, 1762ms;
}

@keyframes move14 {
    0% {
        transform: translateX(-36vw) translateY(-22vh) scale(0.78);
    }

    5% {
        transform: translateX(9vw) translateY(-6vh) scale(0.95);
    }

    10% {
        transform: translateX(3vw) translateY(30vh) scale(0.91);
    }

    15% {
        transform: translateX(-25vw) translateY(43vh) scale(0.92);
    }

    20% {
        transform: translateX(22vw) translateY(-40vh) scale(0.82);
    }

    25% {
        transform: translateX(41vw) translateY(-33vh) scale(1);
    }

    30% {
        transform: translateX(-42vw) translateY(20vh) scale(1);
    }

    35% {
        transform: translateX(37vw) translateY(9vh) scale(0.28);
    }

    40% {
        transform: translateX(29vw) translateY(-14vh) scale(0.8);
    }

    45% {
        transform: translateX(-11vw) translateY(-20vh) scale(0.26);
    }

    50% {
        transform: translateX(16vw) translateY(-23vh) scale(0.64);
    }

    55% {
        transform: translateX(-9vw) translateY(-32vh) scale(0.52);
    }

    60% {
        transform: translateX(19vw) translateY(-2vh) scale(0.31);
    }

    65% {
        transform: translateX(50vw) translateY(-21vh) scale(0.36);
    }

    70% {
        transform: translateX(48vw) translateY(-18vh) scale(0.36);
    }

    75% {
        transform: translateX(13vw) translateY(10vh) scale(0.69);
    }

    80% {
        transform: translateX(45vw) translateY(4vh) scale(0.98);
    }

    85% {
        transform: translateX(45vw) translateY(42vh) scale(0.31);
    }

    90% {
        transform: translateX(39vw) translateY(-32vh) scale(0.62);
    }

    95% {
        transform: translateX(0vw) translateY(35vh) scale(0.36);
    }

    100% {
        transform: translateX(49vw) translateY(-7vh) scale(0.34);
    }
}

.firefly:nth-child(15) {
    animation-name: move15;
}

.firefly:nth-child(15)::before {
    animation-duration: 9s;
}

.firefly:nth-child(15)::after {
    animation-duration: 9s, 9695ms;
    animation-delay: 0ms, 7928ms;
}

@keyframes move15 {
    0% {
        transform: translateX(15vw) translateY(7vh) scale(0.57);
    }

    4.34783% {
        transform: translateX(34vw) translateY(46vh) scale(0.91);
    }

    8.69565% {
        transform: translateX(-23vw) translateY(14vh) scale(0.72);
    }

    13.04348% {
        transform: translateX(43vw) translateY(-43vh) scale(1);
    }

    17.3913% {
        transform: translateX(-11vw) translateY(17vh) scale(0.48);
    }

    21.73913% {
        transform: translateX(14vw) translateY(1vh) scale(0.38);
    }

    26.08696% {
        transform: translateX(-34vw) translateY(-2vh) scale(0.96);
    }

    30.43478% {
        transform: translateX(-6vw) translateY(-43vh) scale(0.93);
    }

    34.78261% {
        transform: translateX(50vw) translateY(19vh) scale(1);
    }

    39.13043% {
        transform: translateX(-43vw) translateY(-29vh) scale(0.55);
    }

    43.47826% {
        transform: translateX(31vw) translateY(7vh) scale(0.79);
    }

    47.82609% {
        transform: translateX(28vw) translateY(17vh) scale(0.9);
    }

    52.17391% {
        transform: translateX(27vw) translateY(-26vh) scale(0.44);
    }

    56.52174% {
        transform: translateX(-11vw) translateY(-19vh) scale(0.66);
    }

    60.86957% {
        transform: translateX(1vw) translateY(38vh) scale(0.85);
    }

    65.21739% {
        transform: translateX(-20vw) translateY(5vh) scale(0.93);
    }

    69.56522% {
        transform: translateX(36vw) translateY(40vh) scale(0.31);
    }

    73.91304% {
        transform: translateX(26vw) translateY(-23vh) scale(0.71);
    }

    78.26087% {
        transform: translateX(20vw) translateY(30vh) scale(0.59);
    }

    82.6087% {
        transform: translateX(37vw) translateY(-23vh) scale(0.32);
    }

    86.95652% {
        transform: translateX(12vw) translateY(40vh) scale(0.32);
    }

    91.30435% {
        transform: translateX(-29vw) translateY(-33vh) scale(0.95);
    }

    95.65217% {
        transform: translateX(9vw) translateY(-40vh) scale(0.82);
    }

    100% {
        transform: translateX(44vw) translateY(-8vh) scale(0.66);
    }
}

@keyframes drift {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes flash {

    0%,
    30%,
    100% {
        opacity: 0;
        box-shadow: 0 0 0vw 0vw yellow;
    }

    5% {
        opacity: 1;
        box-shadow: 0 0 2vw 0.4vw yellow;
    }
}